Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Moment==1.0.4
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
SQLAlchemy==1.4.40
WTForms==3.0.1
email-validator==1.2.1
Werkzeug==2.2.2
db==0.1.1
flask_ckeditor
requests==2.28.1
itsdangerous
flask_uploads
Flask-Reuploaded
flask_bcrypt
flask_migrate
stripe
python-dotenv
flask_admin
flask_user
flask_security

